aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
altair==5.4.1
annotated-types==0.7.0
anyio==4.6.2.post1
asttokens 
attrs==24.2.0
beautifulsoup4==4.12.3
blinker==1.8.2
boto3==1.35.44
botocore==1.35.44
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama
comm
dataclasses-json==0.6.7
debugpy 
decorator 
distro==1.9.0
docker==7.1.0
duckduckgo_search==6.3.2
exceptiongroup 
executing 
fastapi==0.115.2
frozendict==2.4.6
frozenlist==1.5.0
gitdb==4.0.11
GitPython==3.1.43
google-ai-generativelanguage==0.6.10
google-api-core==2.21.0
google-api-python-client==2.149.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.3
googleapis-common-protos==1.65.0
greenlet==3.1.1
groq==0.11.0
grpcio==1.67.0
grpcio-status==1.67.0
h11==0.14.0
html5lib==1.1
httpcore==1.0.6
httplib2==0.22.0
httpx==0.27.2
httpx-sse==0.4.0
idna==3.10
importlib_metadata
ipykernel 
ipython 
jedi 
Jinja2==3.1.4
jiter==0.6.1
jmespath==1.0.1
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client 
jupyter_core 
langchain==0.3.7
langchain-community==0.3.5
langchain-core==0.3.15
langchain-google-genai==2.0.4
langchain-text-splitters==0.3.2
langgraph==0.2.44
langgraph-checkpoint==2.0.2
langgraph-sdk==0.1.35
langsmith==0.1.139
lxml==5.3.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.23.1
matplotlib-inline
mdurl==0.1.2
msgpack==1.1.0
multidict==6.1.0
multitasking==0.0.11
mypy-extensions==1.0.0
narwhals==1.12.1
nest_asyncio 
numpy==1.26.4
openai==1.52.0
orjson==3.10.11
packaging 
pandas==2.2.3
parso 
peewee==3.17.7
phidata==2.5.10
pickleshare 
pillow==10.4.0
platformdirs 
primp==0.6.4
prompt_toolkit 
propcache==0.2.0
proto-plus==1.24.0
protobuf==5.28.2
psutil 
psycopg2-binary==2.9.10
pure_eval 
pyarrow==18.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.9.2
pydantic-settings==2.6.0
pydantic_core==2.23.4
pydeck==0.9.1
Pygments 
pyparsing==3.2.0
python-dateutil 
python-dotenv==1.0.1
pytz==2024.2
pywin32==305.1
PyYAML==6.0.2
pyzmq 
referencing==0.35.1
regex==2024.9.11
requests==2.32.3
requests-toolbelt==1.0.0
rich==13.9.2
rpds-py==0.20.1
rsa==4.9
s3transfer==0.10.3
setuptools==75.1.0
shellingham==1.5.4
six
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.35
stack-data
starlette==0.40.0
streamlit==1.39.0
tavily-python==0.5.0
tenacity==9.0.0
tiktoken==0.8.0
toml==0.10.2
tomli==2.0.2
tornado
tqdm==4.66.5
traitlets
typer==0.12.5
typing-inspect==0.9.0
typing_extensions
tzdata==2024.2
uritemplate==4.1.1
urllib3==2.2.3
uvicorn==0.32.0
watchdog==5.0.3
wcwidth
webencodings==0.5.1
wheel==0.44.0
yarl==1.17.1
yfinance==0.2.45
zipp
